<template>
    <div>
        <form action="#">
            <label for="" class="form-label">
                Fulde navn
                <input v-model="ambassador.name" type="text" placeholder="Skriv navn..">
            </label>

            <label for="" class="form-label">
                E-mail adresse
                <input v-model="ambassador.email" type="email" placeholder="Skriv e-mail..">
            </label>

            <label for="" class="form-label">
                Adresse
                <input v-model="ambassador.address" type="text" placeholder="Skriv adresse..">
            </label>

            <label for="" class="form-label">
                Telefon
                <input v-model="ambassador.phone" type="text" placeholder="Skriv telefonnummer">
            </label>
            
            <label for="" class="form-label" style="padding-bottom: 15px;">
                Hvilke sprog taler du?
                <el-dropdown :hide-on-click="false">
                    <el-button type="primary">
                        <b style="font-weight: 600; line-height: 19px;font-size: 16px; float: left; color: #444;">Vælg sprog</b><i class="el-icon-arrow-down el-icon--right" style="float: left;"></i>
                    </el-button>

                    <el-dropdown-menu slot="dropdown">
                        <el-checkbox-group v-model="checkedCategories" @change="handleCheckedCategoriesChange">
                            <el-dropdown-item v-for="category in categories" :label="category" :key="category">
                                <el-checkbox :label="category" :key="category">{{category}}</el-checkbox>
                            </el-dropdown-item>
                        </el-checkbox-group>                        
                    </el-dropdown-menu>
                </el-dropdown>
            </label>

            <button class="ambassador-btn" type="button" @click="createAmbassador" v-text="buttonText"></button>
        </form>
    </div>
</template>

<script>
    import ElementUI from 'element-ui';
    import 'element-ui/lib/theme-chalk/index.css';

    Vue.use(ElementUI);

    export default {
        data: function () {
            return {
                buttonText : 'Bliv ambassadør',

                checkAll : true,
                isIndeterminate : true,
                checkedCategories : ['Dansk'],
                categories : ['Dansk', 'Engelsk', 'Tysk', 'Fransk', 'Spansk'],
                ambassador : {
                    name : null,
                    email : null,
                    address : null,
                    phone : null,
                }
            }
        },
        methods: {
            createAmbassador: function() {
                this.buttonText = 'Indlæser..';

                axios.post('/ambassador/create', {
                    data : this.ambassador,
                    languages : this.checkedCategories
                }).then(response => {
                    if(response.data.status) {
                        this.buttonText = 'Bliv ambassadør';
                        flash(response.data.message, 'success');
                    }
                });
            },

            handleCheckedCategoriesChange: function(value) {
                // When any category checkbox is clicked
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.categories.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.categories.length;
            },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
