<template>
    <section class="top-spacer" style="min-height: 380px;">
        <div class="container fact-boxes">
            <div class="row fact-box-wrap">
                <div class="col-lg-6 info-boxes">
                    <h3>En gennemsnitlig samtale varer</h3>
                    <div class="info-box" v-text="getPartialConvertion()"></div>
                </div>
                <div class="col-lg-6 info-boxes">
                    <h3>Samtaletid i alt</h3>
                    <div class="info-box" v-text="getFullConvertion()">
                    </div>
                </div>
            </div>
            <div class="row fact-box-wrap">
                <div class="col-lg-6 info-boxes">
                    <h3>De seneste opkald var fra</h3>
                    <div class="info-box">
                        <i v-for="(country, index) in latestCountries">{{ ((latestCountries.length - 1) > index && index != (latestCountries.length - 2) && index != (latestCountries.length) ? country + ', ' : (latestCountries.length - 2) == (index) ? country + ' & ' : country ) }}</i>
                    </div>
                </div>
                <div class="col-lg-6 info-boxes">
                    <h3>Samtaler til dato</h3>
                    <div class="info-box">
                        {{ conversations }} Samtaler. Siden 6. april 2016. 
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function () {
            return {
                conversations : 129601,
                latestCountries : ['Polen', 'USA', 'Indien', 'Spanien', 'Burkina Faso'],
                totalSecondsSpend : 22100892,
                averageSecondsSpend : 171
            }
        },
        methods: {
            getFullConvertion: function() {			
                let seconds = parseInt(this.totalSecondsSpend, 10);

                let days = Math.floor(seconds / (3600*24));
                seconds -= days*3600*24;
                let hrs = Math.floor(seconds / 3600);
                seconds -= hrs*3600;
                let mnts = Math.floor(seconds / 60);
                seconds -= mnts*60;

                let fullTime = days + " dage " + hrs + " timer " + mnts + " minutter " + seconds + " sekunder";
                return fullTime;
            },

            getPartialConvertion: function() {			
                let seconds = parseInt(this.averageSecondsSpend, 10);

                let days = Math.floor(seconds / (3600*24));
                seconds -= days*3600*24;
                let hrs = Math.floor(seconds / 3600);
                seconds -= hrs*3600;
                let mnts = Math.floor(seconds / 60);
                seconds -= mnts*60;

                let fullTime = mnts + " minutter " + seconds + " sekunder";
                return fullTime;
            }
        },
        mounted() {
            
        }
    }
</script>
