<template>
    <div class="alert alert-success alert-flash animated bounceInRight" role="alert" v-show="show">
        {{ body }}
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data() {
            return {
                body : '',
                show : false,
                timeout : false
            }
        },
        created() {
            if (this.message) {
                this.flash(this.message);
            }
            window.events.$on(
                'flash', message => this.flash(message)
            );
        },
        methods: {
            flash(message) {
                if(this.timeout) {
                    clearTimeout(this.timeout);
                    this.show = false;
                }
                this.body = message;
                this.show = true;
                this.hide();
            },
            hide() {
                this.timeout = setTimeout(() => {
                    this.show = false;
                }, 5000);
            }
        }
    };
</script>

<style>
    .alert-flash {
        position: fixed;
        right: 25px;
        bottom: 25px;
        display: block;
        z-index: 100;
        max-width: 320px;
        min-height: 60px;
        border-radius: 8px;
        line-height: 17px;
        padding: 22px 20px 20px 20px;
        color: white;
        font-weight: 600;
        background: #3eeabb;
    }
</style>