// Variables
@import "variables";
@import "reset";
@import "fonts";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//@import "reset";

html * {
    font-family: 'Averta';
    font-weight: 600;
}

html {
    box-sizing: border-box;
}

html *, html *:before, html *:after {
    box-sizing: border-box;
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:hover {
    text-decoration: none;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    // background: #000;
}
.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    // background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
section#bliv-ambassadoer {
    padding-top: 40px;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.video-container .filter {
    img {
        width: 100%;
        // height: calc(100vh + 5px);
        // height: calc(100vh + 5px);
    }
    position: absolute;
    z-index: 2;
}

.main-header {
    width: 100%;
    background: #fff;
    height: 69px;
    position: fixed;
    top: 0px;
    z-index: 100;
    box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.upper-accent {
    height: 22px;
    width: 100%;
    background: #F25C62;
    position: absolute;
    top: 0;
    z-index: 6;
}

@media only screen and (max-width: 767px) {
    button.navbar-toggler {
        width: 60px;
        height: 47px;
        background: center right url(/resources/burger-menu.svg) no-repeat;
        margin-top: 21px;
        position: absolute;
        right: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .collapse.in {
        .navbar-nav {
            a {
                &:hover {
                    color: #f25b61;
                    transition: all 0.1s;
                }
                -webkit-transition: all 0.1s;
                transition: all 0.1s;
                padding-left: 15px;
                font-size: 16px;
                font-weight: 600;
                color: #444;
                line-height: 47px;
                display: block;
                clear: both;
                width: 100%;
                min-width: 240px;
            }
        }
        background: white;
        padding-left: 24px;
        padding-bottom: 5px;
        border-radius: 0px 0px 4px 4px;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 68px;
    }
}

.main-header { 
    .container {
        position: relative;
        z-index: 7;
    }
    .np {
        padding: 0px;
    }
    .menu-wrap {
        padding-right: 0px;
    }
    nav {
        &:last-child a {
            padding-right: 0px;
        }
        a {
            &:hover {
                color: #f25b61;
                transition: all 0.1s;
            }
            transition: all 0.1s;
            padding: 0px 15px;
            font-size: 16px;
            font-weight: 600;
            color: #444;
            line-height: 47px;
            display: block;
            float: left;
        }
        float: right;
        position: relative;
        // top: 22px;
    }
}

.first-section-content {
    h1 {
        color: white;
        font-size: 56px;
        font-weight: 800;
        text-align: center;
        width: 100%;
        padding-top: 30vh;
        padding-bottom: 5px;
    }
    .button-wrapper {
        a {
            &:hover {
                color: #f25b61;
                transition: all 0.1s;
            }
            &:first-child {
                margin-right: 15px;
            }
            transition: all 0.1s;
            display: block;
            min-width: 200px;
            border-radius: 100px;
            background: white;
            color: #444;
            float: left;
            text-align: center;
            line-height: 48px;
            font-size: 16px;
            cursor: pointer;
        }
        margin: auto;
        display: block;
        width: 415px;
    }
    width: 100vw;
    position: absolute;
    z-index: 10;
    top: 69px;
    height: 100vh;
}

.logo {
    line-height: 69px;
    display: block;
    float: left;
}

.main-footer {
    min-height: 80px;
    background: #f1f1f1;
    padding-top: 30px;
    margin-top: 60px;
}

a.scrollactive-item {
    &:hover {
        opacity: 0.8;
    }
}

a.scrollactive-item {
    transition: all 0.2s;
}

a.scrollactive-item.is-active {
    background: #fd7e81;
    transition: all 0.2s;
}

.arrow-down-top {
    width: 48px;
    height: 24px;
    display: block;
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 12px);
    cursor: pointer;
    background: center center url(/resources/arrow-down-top.svg) no-repeat;
}

.download-wrapper {
    width: 100vw;
    height: 100vh;
    background: left center url(/resources/background-download.png) no-repeat;
    background-size: auto 100%;
    padding-top: 69px;
}

.iphone {
    width: 100%;
    margin-left: -50px;
    position: relative;
    top: calc(50vh - 440px);
}

.be-ambassador {
    form {
        .form-label {
            input, select, textarea {
                float: left;
                width: 100%;
                display: block;
                border-radius: 4px;
                border: none;
                background: #f9f8f8;
                min-height: 42px;
                padding: 0px 20px;
                margin-top: 5px;
                color: #222;
            }
            select {
                height: 42px;
                border: none !important;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            width: 100%;
            display: block;
            float: left;
            margin-bottom: 10px;
            font-size: 16px;
        }
        display: inline-block;
        width: 100%;
    }
    h2 {
        margin-top: 0px;
        text-align: center;
        color: #222;
        font-size: 22px;
    }
    .sep {
        border: none;
        height: 3px;
        display: block;
        width: 100%;
        background: #f7f7f7;
        border-radius: 1.5px;
        margin-bottom: 8px;
    }
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 40px 30px 40px;
    min-height: 380px;
    border: 1px solid #efefef;
}

.inline-btn {
    &:hover {
        color: white;
        background: #f36469;
    }
    background: #f25a60;
    border-radius: 4px;
    padding: 12px 18px;
    color: white;
    margin-top: 10px;
    display: inline-block;
    min-width: 160px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.text-block {
    h2 {
        color: #222;
        font-weight: 600;
        font-size: 28px;
        // margin-top: 0px;
    }
    p {
        font-size: 17px;
        color: #333;
        font-weight: normal;
    }
}

.download-app-buttons {
    a {
        &:first-child {
            margin-right: 15px;
        }
        display: block;
        float: left;
    }
    display: inline-block;
}

.app-description {
    h1 {
        color: #222;
        font-weight: 600;
        margin-top: 0px;
    }
    p {
        font-size: 17px;
        font-weight: normal;
        color: #333;
        margin-bottom: 20px;
    }
    // padding-top: 220px;
}

.desc-container {
    background: #FCFCFC;
    border-radius: 16px;
    padding: 25px;
    position: relative;
    top: calc(45vh - 187px);
}

.seperator {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: #ececec;
    display: block;
    margin-bottom: 15px;
}

.el-dropdown-menu {
    width:  375.5px !important;
    padding: 10px 0 5px 0 !important;
    border-radius: 6px !important;
    border: 0 !important;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08) !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: #f25b61 !important;
    border: none  !important;
}
.el-checkbox__inner::after {
    height: 7px !important;
    left: 6px !important;
    top: 3px !important;
    border-width: 2px !important;
    border-radius: 1.5px !important;
}
.el-checkbox__inner {
    border-radius: 100px !important;
    width: 17px !important;
    height: 17px !important;
    border: none !important;
}
.el-dropdown-menu__item {
    padding: 0px !important;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #f25b61 !important;
    font-weight: 600 !important;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #fff0f0 !important;
    color: #404040 !important;
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #e4e4e4 !important;
    color: #333 !important;
    border: none !important;
}
.el-checkbox__inner {
    background-color: #eaeaea !important;
}

.el-checkbox__label {
    font-weight: 600 !important;
    color: #444 !important;
}
.el-button--primary {
    color: #333;
    background-color: #f3f3f3 !important;
    border: none !important;
    width: 100%;
    display: block;
    border-radius: 6px;
    font-size: 15px;
    height: 45px !important;
    padding: 10px 15px 10px 15px;
}
.el-checkbox {
    display: block !important;
    padding: 0px 20px !important;
    color: #333 !important;
    font-weight: 800 !important;
    font-size: 15px !important;
}
.el-dropdown {
    display: inline-block;
    position: relative;
    color: #606266;
    font-size: 14px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #d6d6d6;
}
  ::-moz-placeholder { 
    color: #d6d6d6;
}
  :-ms-input-placeholder { 
    color: #d6d6d6;
}
  :-moz-placeholder { 
    color: #d6d6d6;
}

.counter-block {
    min-height: 210px;
    display: block;
    background: #f25b61;
    width: 100%;
    margin: 100px 0px;
    background: center center url(/resources/nyhedsbrev-bg.png) no-repeat;
    background-size: cover;
    padding: 63px 0px;
}

.ambassador-btn {
    &:hover {
        background: #f25b61;
        color: white;
        font-weight: 700;
        transition: all 0.15s;
    }
    transition: all 0.15s;
    display: block;
    width: 180px;
    border-radius: 200px;
    border: 2px solid #f25b61;
    line-height: 46px;
    color: #f25b61;
    font-size: 16px;
    margin: auto;
}

.left-newsletter-block {
    h3 {
        b {
            font-weight: 900;
        }
        font-weight: 600;
        font-size: 35px;
        color: white;
        padding-top: 2px;
    }
    float: left;
}

.right-newsletter-block {
    .signup-container {
        input {
            width: 470px;
            height: 54px;
            border-radius: 100px;
            border: none;
            padding: 0px 135px 0px 25px;
            position: absolute;
            right: 0px;
            font-size: 16px;
            color: #222;
        }
        button {
            &:hover {
                background: #f66e72;
                transition: all 0.15s;
            }
            cursor: pointer;
            transition: all 0.15s;
            position: absolute;
            right: 5px;
            top: 5px;
            background: #f2595f;
            border-radius: 100px;
            height: 44px;
            padding: 0px 26px;
            font-size: 16px;
            color: white;
            font-weight: 700;
        }
        position: relative;
        display: inline-block;
    }
    float: right;
}

@media only screen and (max-width: 1199px) {
    .left-newsletter-block, .right-newsletter-block {
        clear: both;
        width: 100%;
        float: left;
    }

    .counter-block {
        padding: 25px 0px;
    }

    .right-newsletter-block .signup-container {
        position: relative;
        width: 470px;
        display: block;
        height: 54px;
        margin: auto;
    }

    .left-newsletter-block {
        h3 {
            text-align: center;
            width: 100%;
        }
    }
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }

.graphs {
    .graph {
        .indicator {
            i {
                color: white;
                font-weight: 600;
                display: block;
                font-size: 24px;
            }
            background: #f2585e;
            display: flex;
            align-items: center;
        justify-content: center;
            border-radius: 100px;
        }
        width: 100%;
        height: 137.5px;
        background: #F3F3F3;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 200px;
    }
    b.country {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 18px;
        color: #333;
        margin-top: 15px;
    }
    .col-md-1 {
        &:nth-child(1) .indicator {
            animation-delay: 0.2s;
        }
        &:nth-child(2) .indicator {
            background: lighten(#f2585e, 5%);
            animation-delay: 0.4s;
        }
        &:nth-child(3) .indicator {
            background: lighten(#f2585e, 10%);
            animation-delay: 0.6s;
        }
        &:nth-child(4) .indicator {
            background: lighten(#f2585e, 10%);
            animation-delay: 0.8s;
        }
        &:nth-child(5) .indicator {
            background: lighten(#f2585e, 10%);
            animation-delay: 1s;
        }
        &:nth-child(6) .indicator {
            background: lighten(#f2585e, 15%);
            animation-delay: 1.2s;
        }
        &:nth-child(7) .indicator {
            background: lighten(#f2585e, 15%);
            animation-delay: 1.4s;
        }
    }
}

.padding-top-page {
    padding-top: 100px;
}

.fact-boxes .fact-box-wrap:first-child {
    animation-delay: 0.6s;
}

.fact-boxes .fact-box-wrap:last-child {
    animation-delay: 1s;
}

.graph-title {
    h4 {
        font-size: 28px;
        color: #222;
        display: block;
        text-align: center;
        margin-top: -10px;
    }
    span {
        color: #8C8C8C;
        width: 100%;
        font-weight: normal;
        font-size: 20px;
        margin-top: -10px;
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }
}

.el-icon-arrow-down:before {
    content: '' !important;
    background: 0px 7px url(/resources/arrow-down-select.svg) no-repeat;
    width: 20px;
    height: 14px;
    display: block;
}

.info-boxes {
    h3 {
        font-size: 24px;
        color: #222;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .info-box {
        i {
            color: #333;
            font-size: 22px;
            font-weight: 500;
        }
        width: 100%;
        border-radius: 10px;
        background: #f3f3f3;
        color: #333;
        font-size: 22px;
        padding: 32px 20px 30px 20px;
        font-weight: 500;
        text-align: center;
    }
    margin-bottom: 30px;
}

.top-spacer {
    margin-top: 40px;
}

#thisbox {
    section {
        h2 {
            font-size: 28px;
            color: #222;
            font-weight: 600;
        }
        p {
            font-size: 17px;
            color: #444;
            font-weight: normal;
        }
        margin-bottom: 40px;
    }
}

.scrollactive-nav {
    ul {
        li {
            a {
                text-decoration: none;
                padding: 10px 25px;
                color: white;
                font-size: 16px;
                display: block;
            }
        }
    }
    background: #f25c61;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
}